@tailwind base;
@tailwind components;
@tailwind utilities;

//VARIABLES
$mini: 'max-width: 360px';
$mobile: 'min-width: 361px) and (max-width: 767px';
$tablet: 'min-width: 768px) and (max-width: 1024px';
$notebook: 'min-width: 1025px) and (max-width: 1440px) and (min-height: 768px) and (max-height: 900px';
$desktop: 'min-width: 1920px';

//MIXINS
@mixin titles{
  text-align: center;
  padding-top: 5%;
  @media (#{$notebook}), (#{$desktop}) { font-size: 3rem; }
  @media (#{$mini}), (#{$mobile}) { font-size: 2rem; padding-top: 8%; }
}

@mixin divs{
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

//KEYFRAMES
@keyframes fade-left { 0% { opacity: 0; transform: translateX(-10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-right { 0% { opacity: 0; transform: translateX(10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-up { 0% { opacity: 0; transform: translateY(40%); } 100% { opacity: 1; transform: translateY(0); } }
@keyframes fade-down { 0% { opacity: 0; transform: translateY(-40%); } 100% { opacity: 1; transform: translateY(0); } }

//STYLES (Mobile First)
*{
  margin: 0;
  padding: 0; 
  a, button{
    text-decoration: none;
    color: inherit;
    user-select: none;
    cursor: pointer;
  }
  h1{
    @include titles();
  }
  ::-webkit-scrollbar{
    width: 0;
  }
  ::-moz-selection, ::selection{
    background: #7bc9d6;
    color: whitesmoke;
  }
}

body{
  .header {
    position: fixed;
    z-index: 2;
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    @media (#{$desktop}) { margin-top: 0.5% }
    .headerLinks {
      padding: 0.6%;
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.685);
      border-top: black 1px bold;
      a{
        color: aliceblue;
        font-size: 0.7rem;
        padding: 0.6rem;
        @media (#{$mini}) { padding: 0.5rem; font-size: 0.6rem }
        @media (#{$notebook}), (#{$desktop}) { padding: 1.2rem; font-size: 1.5rem }
      }
    }
  }
  .dentista{
    @include divs();
  }
  .nosotros{
    @include divs();
  }
  .tratamientos{
    @include divs();
    animation: fade-up 1s;
  }
  .contacto{
    @include divs();
    h3{
      color: #728EC2;
    }
    ul{
      li{}
    }
  }
  .footer{
    height: 5%;
    background-color: #97CBB5;
    color: black;
    text-align: center;
    padding-top: 1%;
    a{
      font-size: 1rem;
      text-shadow: 
       -0.2px -0.2px 0 #fff,  
        0.2px -0.2px 0 #fff,
       -0.2px  0.2px 0 #fff,
        0.2px  0.2px 0 #fff;
    }
  }
}