@tailwind base;
@tailwind components;
@tailwind utilities;

//VARIABLES
$mini: "max-width: 360px";
$mobile: "min-width: 361px) and (max-width: 767px";
$tablet: "min-width: 768px) and (max-width: 1024px";
$notebook: "min-width: 1025px) and (max-width: 1440px";
$medium: "min-width: 1441px) and (max-width: 1900px";
$desktop: "min-width: 1901px";

//MIXINS
@mixin titles{
  color: #14799b;
  opacity: 0;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3rem;
  @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 3rem; }
  @media (#{$mini}), (#{$mobile}) { font-size: 2rem; padding-top: 8%; }
  @include fade(up, 1s);
}

@mixin divs{
  position: relative;
  height: 120vh;
  width: 100vw;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

@mixin turn($end) {
  @for $i from 1 through $end {
    :nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }
  }
}

@mixin fade($fade, $delay) {
  animation: fade-#{$fade} 0.6s forwards;
  animation-delay: $delay;
}

@mixin background($url){
  background-image: url($url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

//KEYFRAMES
@keyframes fade-left { 0% { opacity: 0; transform: translateX(-10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-right { 0% { opacity: 0; transform: translateX(10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-up { 0% { opacity: 0; transform: translateY(40%); } 100% { opacity: 1; transform: translateY(0); } }
@keyframes fade-down { 0% { opacity: 0; transform: translateY(-40%); } 100% { opacity: 1; transform: translateY(0); } }

//STYLES (Mobile First)
*{
  margin: 0;
  padding: 0; 
  a, button{
    text-decoration: none;
    color: inherit;
    user-select: none;
    cursor: pointer;
    @media (#{$mini}), (#{$mobile}), (#{$tablet}) { 
      -webkit-user-select: none; 
      -webkit-tap-highlight-color: transparent;
    }
  }
  h1{
    @include titles();
  }
  ::-webkit-scrollbar{
    width: 0;
  }
  ::-moz-selection, ::selection{
    background: #7bc9d6;
    color: whitesmoke;
  }
}

body{
  flex: 1;
  // --- HEADER ---
  .header {
    position: fixed;
    z-index: 2;
    right: 2%;
    top: 35%;
    display: flex;
    height: max-content; 
    opacity: 0;
    @include fade(right, 1s);
  
    .headerLinks {
      padding: 0.5rem 0;
      width: 30px;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.514);
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible;
      a {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: transparent;
        font-size: 0.7rem;
        padding-block: 0.8rem;
        text-decoration: none;
        transition: all 0.3s ease;
        white-space: nowrap;
        width: 100%;
        padding-right: 20px;
        @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 1.5rem; padding-block: 1.2rem }
        &::before {
          content: '';
          position: absolute;
          width: 0.5rem;
          height: 0.5rem;
          background-color: aliceblue; 
          border-radius: 50%;
          right: 50%; 
          transform: translateX(50%);
          transition: all 0.3s ease;
          opacity: 1;
          @media (#{$notebook}), (#{$medium}), (#{$desktop}) { width: 0.8rem; height: 0.8rem; }
        }
        &.active::before {
          background-color: #00BFFF;
          box-shadow: 0 0 7px #ffffff;
          transform: translateX(50%) scale(1.3);
        }
        &:hover {
          color: rgb(108, 167, 218);
          font-weight: bold;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
          
          &::before {
            opacity: 0;
            transform: translateX(50%) scale(0);
          }
        }
      }
    }
  }
  // --- SECCION DENTISTA ---
  .dentista {
    @include divs();
    height: 100vh;
    color: white;
    @include background('/img/backgrounds/backgroundDentist.webp');
    h1{
      margin: 0;
      color: whitesmoke;
    }
    .dentistaDivision{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftComponent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        flex: 1;
        margin: 7rem 4rem;
        opacity: 0;
        @include fade(left, 0.5s);
        h1{
          margin-left: 3rem;
        }
        p{
          @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 2rem; width: 60%; }
        }
        a{
          background-color: #00000050;
          border-radius: 18px;
          border: 1.5px solid rgba(255, 255, 255, 0.712);
          font-size: 1rem;
          padding: 0.5%;
          margin: 2rem auto 15.5rem;
          margin-top: 2rem;
          @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 2rem; justify-content: center; }
          &:hover{ transform: scale(1.02); color: #82a6f3;}
        }
      }
      .rightComponent{
        position: absolute;
        bottom: 0;
        right: 0;
        img{
          opacity: 0;
          display: block;
          @include fade(up, 0.5s);
        }
      }
    }
    .cardsDentista{
      display: flex;
      gap: 10rem;
      justify-content: center;
      transform: translateY(-12.5rem);
      div{
        background: rgba(255, 255, 255, 0.822);
        backdrop-filter: blur(120px);
        -webkit-backdrop-filter: blur(120px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top: 8px solid rgb(110, 217, 250);
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.445);
        @media (#{$notebook}), (#{$medium}), (#{$desktop}){ height: 19rem; width: 16.5rem }
        img{
          margin: auto;
          display: block;
        }
        h3{
          text-align: center;
          color: black;
          margin-top: 0.5rem;
          font-size: 1.5rem;
        }
        p{
          margin-top: 1.2rem;
          padding: 0 0.5rem;
          color: black;
          text-align: center;
          @media (#{$notebook}), (#{$medium}), (#{$desktop}){ margin-top: 1rem; font-size: 1.2rem }
        }
        &:hover{
          transform: scale(1.05);
        }
        opacity: 0;
        @include fade(up, 1s);
      }
      @include turn(3);
    }
  }

  // --- SECCION NOSOTROS ---
  .nosotros{
    @include divs();
    height: 90vh;
    padding-top: 9%;
    .nosotrosDivision{
      display: flex;
      margin: 0 auto;
      gap: 2rem;

      @media (#{$notebook}), (#{$medium}), (#{$desktop}) { 
        width: 80%;
      }

      .leftComponent{
        flex: 1;
        margin-top: 2rem;
        opacity: 0;
        &.inView{
          @include fade(up, 0.5s)
        }
      }

      .rightComponent{
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        opacity: 0;
        font-size: 1rem;
        @media (#{$notebook}), (#{$medium}), (#{$desktop}){ padding: 2rem; font-size: 1.5rem }
        .tratamiento{

        }
        h4{
          color: #728EC2;
          @media (#{$notebook}), (#{$medium}), (#{$desktop}){
            font-size: 2rem;
            margin-top: 1.1rem;
          }
        }
        .descripcion{
        }
        ul{
          margin-top: 1rem;
          li{
            margin-left: 1.8rem;
          }
        }
        &.inView{
          @include fade(right, 0.7s)
        }
      }
    }
  }

  // --- SECCION TRATAMIENTOS ---
  .tratamientos {
    @include divs();
    height: 120vh;
    @include background('/img/backgrounds/backgroundTreatments.webp');
    h1{
      margin-top: 10%;
      color: whitesmoke;
    }
    .tratamientoItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
      gap: 1.5rem;
  
      @media (#{$mini}), (#{$mobile}) { margin: 15% auto 0; }
      @media (#{$tablet}) { margin: 10% auto 0; }
      @media (#{$notebook}) { margin: 2% auto 0; }
      @media (#{$notebook}), (#{$medium}), (#{$desktop}) { width: 60%; }
  
      .item {
        width: 18vw;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        gap: 15px;
        
        opacity: 0;
        transform: translateY(40px);
        flex-shrink: 0;
        transition: scale 0.3s ease;
  
        img {
          width: 100%;
          max-width: 180px;
          height: auto;
          object-fit: cover;
          border-radius: 10px;
          
          @media (#{$mini}), (#{$mobile}) { 
            width: 160px; 
            height: 160px; 
          }
        }
  
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin: 0;
          background-color: rgba(0, 0, 0, 0.45);
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);
          
          color: whitesmoke;
          font-size: .8rem;
          border-radius: 20px;
          
          padding: 0.5rem 1rem; 
          width: 9rem;
          height: 2rem;
          max-width: 90%;
  
          @media (#{$notebook}), (#{$medium}), (#{$desktop}) { 
            font-size: 1.2rem; 
            padding: 0.8rem 1.5rem;
          }
        }
        
        &:hover {
          scale: 1.05;
        }
      }
      
      &.inView {
        .item {
          @include fade(up, 1s);
        }
        @include turn(8);
      }
    }
    img{
      z-index: -1;
    }
  }

  // --- SECCION CONTACTO ---
  .contacto{
    @include divs();
    height: 110vh;
    h1{
      margin-top: 2.5%;
    }
    .contactoDivision{
      display: flex;
      margin-top: 4rem;
      .datos{
        opacity: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        .contactoItem{
          margin: 1.5rem 15rem;
          @media (#{$notebook}), (#{$medium}), (#{$desktop}) { margin: 1.8rem 15rem }
          h3{
            color: #728EC2;
            @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 2.2rem; }
          }
          ul{
            margin: 1rem;
            li{
              @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 1.7rem; margin-left: 1rem }
            }
          }
        }
        &.inView{
          @include fade(right, 0.5s);
        }
        p{
          text-align: justify;
          width: 36rem;
          margin: .5rem 15rem;
          font-size: 1.7rem;
          align-self: center;
          span{
            color: #527bc7; 
          }
        }
      }
      .map{
        flex: 1;
        justify-content: center;
        align-items: center;
        opacity: 0;
        @media (#{$notebook}), (#{$medium}), (#{$desktop}) { margin-left: 4rem; margin-right: -4rem }
        &.inView{
          @include fade(left, 0.5s);
        }
      }
    }
  }
  // --- TERM & CONDICIONS
  .tyc{
    @include divs();
    .terms{}
    .privacy{}
    .contact{}
  }

  // --- FOOTER ---
  .footer{
    height: 5%;
    background-color: #97CBB5;
    color: black;
    text-align: center;
    padding-top: 1%;
    @media (#{$notebook}), (#{$medium}), (#{$desktop}) { padding-top: 0.5% }
    a{
      font-size: 0.8rem;
      text-shadow: 
       -0.2px -0.2px 0 #fff,  
        0.2px -0.2px 0 #fff,
       -0.2px  0.2px 0 #fff,
        0.2px  0.2px 0 #fff;
        @media (#{$notebook}), (#{$medium}), (#{$desktop}) { font-size: 1.4rem; }
    }
  }
}