@tailwind base;
@tailwind components;
@tailwind utilities;

//VARIABLES
$mini: "max-width: 360px";
$mobile: "min-width: 361px) and (max-width: 767px";
$tablet: "min-width: 768px) and (max-width: 1024px";
$notebook: "min-width: 1025px) and (max-width: 1440px";
$medium: "min-width: 1441px) and (max-width: 1900px";
$desktop: "min-width: 1901px";

//MIXINS
@mixin titles{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3rem;
  @media (#{$notebook}), (#{$desktop}) { font-size: 3rem; }
  @media (#{$mini}), (#{$mobile}) { font-size: 2rem; padding-top: 8%; }
}

@mixin divs{
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

@mixin turn($end) {
  @for $i from 1 through $end {
    :nth-child(#{$i}) {
      animation-delay: $i * 0.2s;
    }
  }
}

@mixin fade($fade, $delay) {
  animation: fade-#{$fade} 0.6s forwards;
  animation-delay: $delay;
}

//KEYFRAMES
@keyframes fade-left { 0% { opacity: 0; transform: translateX(-10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-right { 0% { opacity: 0; transform: translateX(10%); } 100% { opacity: 1; transform: translateX(0); } }
@keyframes fade-up { 0% { opacity: 0; transform: translateY(40%); } 100% { opacity: 1; transform: translateY(0); } }
@keyframes fade-down { 0% { opacity: 0; transform: translateY(-40%); } 100% { opacity: 1; transform: translateY(0); } }

//STYLES (Mobile First)
*{
  margin: 0;
  padding: 0; 
  a, button{
    text-decoration: none;
    color: inherit;
    user-select: none;
    cursor: pointer;
    @media (#{$mini}), (#{$mobile}), (#{$tablet}) { 
      -webkit-user-select: none; 
      -webkit-tap-highlight-color: transparent;
    }
  }
  h1{
    @include titles();
  }
  ::-webkit-scrollbar{
    width: 0;
  }
  ::-moz-selection, ::selection{
    background: #7bc9d6;
    color: whitesmoke;
  }
}

body{
  // --- HEADER ---
  .header {
    position: fixed;
    z-index: 2;
    right: 2%;
    top: 35%;
    display: flex;
    height: max-content; 
    animation: fade-right 2s;
  
    .headerLinks {
      padding: 0.5rem 0;
      width: 30px;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.514);
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible;
      a {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: transparent;
        font-size: 0.7rem;
        padding-block: 0.8rem;
        text-decoration: none;
        transition: all 0.3s ease;
        white-space: nowrap;
        width: 100%;
        padding-right: 20px;
        @media (#{$notebook}) , (#{$desktop}) { font-size: 1.5rem; padding-block: 1.2rem }
        &::before {
          content: '';
          position: absolute;
          width: 0.5rem;
          height: 0.5rem;
          background-color: aliceblue; 
          border-radius: 50%;
          right: 50%; 
          transform: translateX(50%);
          transition: all 0.3s ease;
          opacity: 1;
          @media (#{$notebook}) , (#{$desktop}) { width: 0.8rem; height: 0.8rem; }
        }
        &.active::before {
          background-color: #00BFFF;
          box-shadow: 0 0 12px #00BFFF;
          transform: translateX(50%) scale(1.3);
        }
        &:hover {
          color: rgb(108, 167, 218);
          font-weight: bold;
          text-shadow: #000000;
          &::before {
            opacity: 0;
            transform: translateX(50%) scale(0);
          }
        }
      }
    }
  }
  // --- SECCION DENTISTA ---
  .dentista {
    @include divs();
    color: white;
    h1{}
    .fondoDentista {
      position: sticky;
      top: 0;
      z-index: -1;
    }
    .leftComponent{
      p{

      }
      a{
        background-color: #00000050;
        border-radius: 5px;
        border: 1.5px solid rgba(255, 255, 255, 0.712);
        font-size: 1rem;
        padding: 0.5%
      }
    }
    .rightComponent{

    }
  }

  // --- SECCION NOSOTROS ---
  .nosotros{
    @include divs();
  }

  // --- SECCION TRATAMIENTOS ---
  .tratamientos {
    @include divs();
    .tratamientoItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 60%;
      margin: auto;
      align-items: center;
      gap: 3rem;
      @media (#{$notebook}), (#{$desktop}) { width: 90%;}
      .item {
        opacity: 0;
        transform: translateY(40px);
        flex-shrink: 0;
        height: max-content;
        transition: scale 0.3s ease;
        @media (#{$notebook}), (#{$desktop}) { 
          img{
            width: 160;
            height: 160;
          }
        }
        p {
          text-align: center;
          font-size: .6rem;
          width: 60%;
          @media (#{$notebook}), (#{$desktop}) { font-size: 1.5rem; width: 60%; }
        }
        &:hover {
          scale: 1.05;
        }
      }
      &.inView {
        .item {
          @include fade(up, 1s);
        }
        @include turn(8);
      }
    }
  }

  // --- SECCION CONTACTO ---
  .contacto{
    @include divs();
    h3{
      color: #728EC2;
    }
    ul{
      margin-left: 1.1rem;
      li{}
    }
    .map{
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
    }
  }
  // --- FOOTER ---
  .footer{
    height: 5%;
    background-color: #97CBB5;
    color: black;
    text-align: center;
    padding-top: 1%;
    a{
      font-size: 0.8rem;
      text-shadow: 
       -0.2px -0.2px 0 #fff,  
        0.2px -0.2px 0 #fff,
       -0.2px  0.2px 0 #fff,
        0.2px  0.2px 0 #fff;
    }
  }
}