@tailwind base;
@tailwind components;
@tailwind utilities;

//VARIABLES
$mini: 'max-width: 360px';
$mobile: 'min-width: 361px) and (max-width: 767px';
$tablet: 'min-width: 768px) and (max-width: 1024px';
$notebook: 'min-width: 1025px) and (max-width: 1440px) and (min-height: 768px) and (max-height: 900px';
$desktop: 'min-width: 1920px';

//MIXINS
@mixin titles{
  text-align: center;
  font-size: rem;
  padding-top: 1%;
}

@mixin divs{
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: normal;
}

//KEYFRAMES



//STYLES (Mobile First)
*{
  margin: 0;
  padding: 0; 
  a, button{
    text-decoration: none;
    color: inherit;
    user-select: none;
  }
  h1{
    @include titles();
  }
}

html{
  ::-webkit-scrollbar{
    width: 0;
  }
  .header{
    position: static;
    background-color: blue
  }
  .dentista{
    @include divs();
  }
  .nosotros{
    @include divs();
  }
  .tratamiento{
    @include divs();
  }
  .contacto{
    @include divs();
  }
  .footer{
    height: 70px;
    background-color: rgba(126, 206, 162, 0.692);
    color: black;
    text-align: center;
    padding-top: 1.5%;
    a{
      font-size: 27px;
    }
  }
}